<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Banking Analytics</title>
    
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

   <body>

    <header>
        <div class="container">
            <h1>Banking Analytics</h1>
            <p>Data Science & Machine Learning for Banking</p>
        </div>
    </header>

    <main>
        <div class="container">

            <div class="section-title">
                <h2>Explore Our Solutions</h2>
                <p>
                    Machine learning solutions for loans, transactions,
                    and customer behavior.
                </p>
            </div>

            <div class="cards">

                <div class="card">
                    <h3>Loan Approval Prediction</h3>
                    <p>
                        Predict whether a loan application is likely
                        to be approved.
                    </p>
                    <a href="/loan-approval">Open Module →</a>
                </div>
                
                <div class="card">
                    <h3>Transaction Anomaly Detection</h3>
                    <p>
                        Identify potentially unusual transactions
                        using Isolation Forest.
                    </p>
                    <a href="/transaction-anomaly">Open Module →</a>
                </div>
                
                <div class="card">
                    <h3>Customer Segmentation</h3>
                    <p>
                        Group customers based on their financial
                        and transaction behavior.
                    </p>
                    <a href="/customer-segmentation">Open Module →</a>
                </div>

            </div>

        </div>
    </main>

    <footer>
        <p>Banking Analytics | Data Science Project</p>
    </footer>

</body>
</html>